body {
  font-family: "Roboto", "Arial", sans-sertif;/*семейство шрифтов*/
  font-size: 16px;/*размер шрифта*/
  line-height: 22px; /*высота строки*/
  color: #000; /*цвет текста*/
  font-weight: normal;/*жирность шрифта*/
  padding: 0;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}
                    /*Начало разметки основного содержания*/
.central-container {
  width: 1200px;
  margin: 0 auto;
}

.bg-all {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/ice-cream-green.png);
  background-repeat: no-repeat;
  background-position: 50% 4.4%;
  transition: background-image 0.4s ease,
              background-color 0.4s ease;
}
                    /*Навигация начало*/
.gs-nav {
  float: left;
  width: 560px;
}

.gs-nav img {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: -6px;
}

.gs-nav .menu {
  margin-top: 21px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 7px 13px;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.menu a::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: rgba(255,255,255,0.3);
}

.catalog-hover a::after {
  display: none;
}

.menu li:hover a {
  color: #000;
  text-decoration: none;
}

.menu li:hover {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
}

.menu .background:hover {
  background-color: #d07058;
  color: #fff;
}

.menu .background:active {
  background-color: #ededed;
  color: #333333;
  box-shadow: inset 0px 2px 1px #696969;
}

.ch {
  position: absolute;
  width: 144px;
  top: 29px;
  left: -3px;
  height: 215px;
  padding-top: 10px;
  display: none;
}

.ch a {
  text-align: left;
  color: #000;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 0;
  padding-top:7px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 5px;
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.catalog-hover {
  width: 143px;
  position: absolute;
  z-index: 30;
  margin: 0;
  padding: 0px;
  text-align: center;
  /*color: #000;*/
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.catalog-hover li {
  display: block;
  width: 100%;
  height: 34px;
}

li:hover .ch {
  display: block;
}

.catalog-hover .border {
  position: relative;
}

.catalog-hover .border::after {
  content: "";
  position:absolute;
  width: 130px;
  height: 1px;
  left: 6px;
  bottom: 0;
  background-color: #d1d0ce;
}

.border a {
  font-weight: bold;
}

.active {
  background-color: #d07058;
}

.catalog-hover a:hover {
  background-color: #fbded8;
}

.catalog-hover a:active {
  background-color: #f6b5a5;
}

.active-catalog {
  padding: 11px 20px 13px 13px;
  background-color: #d07058;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  line-height: 6px;
  font-weight: bold;
  margin-left: 4px;
  cursor: pointer;
  margin-top: 3px;
}

.menu .background:active {
  background-color: #ededed;
  color: #333333;
}
                    /*Поиск попап*/
.search-popup {
  float: left;
  display: inline-block;
  width: 31px;
  height: 31px;
  padding: 0;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  margin-right: 13px;
  margin-left: 325px;
  margin-top: 21px;
}

.search-popup:hover {
  background-image: url("../img/loupe-hover.svg");
  background-color: #f8f7f4;
}

.bb form {
  position: absolute;
  z-index: 100;
  width: 310px;
  padding: 14px 17px;
  background-color: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  display: none;
}

input[type="text"] {
  width: 310px;
  height: 44px;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 7px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  color: #000;
  outline: none;
  box-sizing: border-box;
}

.search-popup:hover form {
  display: block;
}

.search-popup:hover .bb {
  display: block;
}

.search-popup .bb {
  z-index: 200;
  position: relative;
  left: -310px;
  top: 18px;
  width: 347px;
  padding-top: 20px;
  height: 100px;
  display: none;
}
                    /*стилизуем поле поиска*/
.magic-search {
  position: relative;
  width: 100%;
}

.magic-search > label {
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 14px;
  color: #999999;
  transition: 0.5s;
}

.magic-search:hover input {
 border: 2px solid #c7c6c5 ;
}

.magic-search input:focus + label {
  top: -10px;
  left: 5px;
  color: #8fbdec;
  font-size: 11px;
  line-height: 13px;
}

.magic-search input:focus {
  outline: 2px solid #8fbdec;
}

.magic-search input:valid + label {
 color: #999;
}

                    /*конец ПОИСКв*/
                    /*Копка вход*/
.login > a {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 15px 7px 41px;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  text-decoration: none;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-position: 21% 55%;
}

.login > a:hover {
  background-image: url(../img/login-hover.svg);
  color: #000;
  background-color: #fff;
  position: relative;
}

.login {
  margin-top: 23px;
  height: 32px;
  float: left;
  display: inline-block;
  width: 90px;
  margin-right: 9px;
}
.bb2 form {
  position: absolute;
  top: 17px;
  z-index: 700;
  width: 277px;
  height: 214px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

  .bb2 input[type="email"],
  .bb2 input[type="password"] {
  font-size: 14px;
  width: 239px;
  height: 44px;
  line-height: 24px;
  margin-left: 19px;
  margin-top: 19px;
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  color: #000;
  outline: none;
  box-sizing: border-box;
}

.bb2 input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 9px 26px 11px 26px;
  border-radius: 30px;
  background-color: #ea573b;
  float: left;
  margin-left: 17px;
  margin-top: 4px;
}

.bb2 input[type="password"] {
  margin-bottom: 20px;
}

.login:hover .bb2 {
  display: block;
}

.login .bb2 {
  z-index: 100;
  top: 43px;
  right: 152px;
  position: absolute;
  width: 277px;
  height: 260px;
  display: none;
}

form .log {
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  display: inline-block;;
  margin-left: 19px;
  color: #000;
}

                    /*Стилизуем поля ввода для формы ВХОД*/
.user-pass,
.user-email {
  position: relative;
}

.user-pass > label,
.user-email > label {
  position: absolute;
  width: 150px;
  color: #999999;
  top: 31px;
  left: 31px;
  transition: 0.5s;
}

.user-pass:hover input,
.user-email:hover input {
  border: 2px solid #c7c6c5;
}

.user-pass input:focus + label,
.user-email input:focus + label {
  top: 2px;
  left: 22px;
  color: #8fbdec;
  font-size: 11px;
  line-height: 13px;
}
.user-pass input:valid + label {
 color: #999;
}
                    /*Конец оформления кнопки входа*/
                    /*Стилизация корзины*/
.bascet {
  height: 32px;
  float: left;
  display: inline-block;
  margin-top: 23px;
  padding: 0px;
}

.bascet a {
  display: inline-block;
  padding: 8px 33px 8px 45px;
  color: #fff;
  background-color: rgba(255,255,255,0.2);
  text-decoration: none;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 18% 55%;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
}

.bascet form {
  display: none;

}
                    /*Полная корзина*/
.bascet-full {
  position: relative;
  float: left;
  display: inline-block;
  margin-top: 21px;
  padding: 0;
}

.bascet-full .basket {
  display: inline-block;
  padding: 10px 16px 10px 44px;
  color: #000;
  background-color: #f7f6f3;
  text-decoration: none;
  background-image: url("../img/basket-full.png");
  background-repeat: no-repeat;
  background-position: 17% 50%;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  display: table;
  padding: 0;
  margin-left: 14px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.bascet-hover {
  position: absolute;
  z-index: 20;
  right: 0;
  width: 555px;
  height: 259px;
  top: 30px;
  display: none;
}

.bascet-hover img {
  border-radius: 50%;
}

.bascet-hover span {
  color: #999999;
}

td {
  padding: 8px;
}

td:nth-child(1) {
  padding-left: 0px;
}

td:nth-child(3) {
  width: 218px;
  padding-right: 21px;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 12px;
}

td:nth-child(4),
td:nth-child(5) {
  padding-right: 13px;
  padding-left: 12px;
}

tr {
  position: relative;
}
table::after {
  position: absolute;
  content: "";
  width: 504px;
  height: 1px;
  top: 129px;
  background-color: #cacac7;
}

.bascet-hover .close {
  display: inline-block;
  outline: none;
  border-style: none;
  background-color:transparent;
  width: 15px;
  height: 15px;
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 100%;
  overflow: hidden;
}

caption {
  margin-top: 30px;
  margin-bottom: 14px;
  caption-side: bottom;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

caption span {
  color: #6b6b6a;
}

.bascet-full form {
  top: 9px;
  right: 0;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 540px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.bascet-hover input[type="submit"] {
  float: right;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 14px;
  padding: 8px 15px 13px 15px;
  border-radius: 50px;
  outline: 0;
  border-style: none;
  margin-bottom: 20px;
}

.bascet-full form::after {
  content: "";
  display: table;
  clear: both;
}

.bascet-full:hover .bascet-hover {
  display: block;
}
                    /*Конец стилизации корзины*/
                    /*Время работы в шапке*/
.info {
  float: right;
  display: inline-block;
  width: 170px;
  margin-top: 3px;
}

.info p {
  color:#fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}
.info a {
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

                    /*Начало слайдера*/
.slader {
  position: relative;
  padding-top: 230px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  margin-left: 26px;
  margin-right: 27px;
  margin-top: 161px;
}

.slide-title {
  width: 700px;
  margin:-118px auto;
  margin-bottom: 31px;
  font-size: 60px;
  font-weight: 900;
  line-height: 60.5px;
}

.slider-btn {
  display: inline-block;
  padding: 9px 41px 12px 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 900;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160,32,11,0.76);
  background: #ea573b;
  background: -moz-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74b36 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0px 2px 2px rgba(172,16,0,0.64);
  border-radius: 50px;
}

.slider-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172,16,0,1);
}

.slider-btn:active {
  background: -moz-linear-gradient:(top, #d84833 0%, #e1613e 100%);
  background: -webkit-linear-gradient:(top, #d84833 0%, #e1613e 100%);
  background: linear-gradient:(to bottom, #d84833 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(176,16,0,1);
}

.slider-controls {
  position: absolute;
  top: 564px;
  left: 29px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  border: 1px solid white;
  background-color: rgba(248,247,244,0.4);
}

.slide {
  display: none;
}

#img-1:checked ~ .bg-all #slide1,
#img-2:checked ~ .bg-all #slide2,
#img-3:checked ~ .bg-all #slide3 {
  display: block;
}

#img-1:checked ~ .bg-all label[for="img-1"],
#img-2:checked ~ .bg-all label[for="img-2"],
#img-3:checked ~ .bg-all label[for="img-3"] {
  background-color: #fff;
}

#img-1:checked ~ .bg-all {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-green.png");
}

#img-2:checked ~ .bg-all {
  background-color: #8996a6;
  background-image: url(../img/ice-cream-blue.png);
}

#img-3:checked ~ .bg-all {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-brown.png");
}

.bg-all:before,
.bg-all:after {
  content: "";
  visibility: hidden;
}

.bg-all:before {
  background-image: url("../img/ice-cream-blue.png");
}

.bg:after {
  background-image: url("../img/ice-cream-brown.png");
}
                    /*Конец слайдера*/
header {
  margin-left: 27px;
  margin-right: 27px;
}
header::after {
  content: "";
  display: table;
  clear: both;
}

                    /*Стилизация акций*/
main {
  margin-left: 27px;
  margin-right: 27px;
}

.action {
  display: inline-block;
  width: 560px;
  min-height: 230px;
  border-radius: 20px;
  color: #fff;
  margin-bottom: 35px;;
  padding: 0;
  vertical-align: top;
}

.action a {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  padding: 10px 23px 10px 22px;;
  border-radius: 50px;
  background-color: #ea573b;
  float: right;
  margin-right: 20px;
  box-shadow: 0px 2px 2px rgba(172,16,0,0.54);
  background: #cb3926;
  background: -moz-linear-gradient(top, #f26843 0%, #cb3926 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #cb3926 100%);
  background: linear-gradient(to bottom, #f26843 0%, #cb3926 100%);
}

.action a,
input[type="submit"],
.feedback,
.fast-see {
  box-shadow: 0px 2px 2px rgba(172,16,0,0.54);
  background: #cb3926;
  background: -moz-linear-gradient(top, #f26843 0%, #cb3926 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #cb3926 100%);
  background: linear-gradient(to bottom, #f26843 0%, #cb3926 100%);
}

.action a:hover,
input[type="submit"]:hover,
.feedback:hover,
.fast-see:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 1px 2px rgba(172,16,0,1);
}

.action a:active,
input[type="submit"]:active,
.feedback:active,
.fast-see:active {
  background: -moz-linear-gradient(top, #d74632 0%, #e1613e 100%;);
  background: -webkit-linear-gradient(top, #d74632 0%, #e1613e 100%;);
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%;);
  box-shadow: inset 0px 1px 2px rgba(172,16,0,1);
}

.action h2 {
  font-size: 35px;
  line-height: 41px;
  margin-left: 17px;
  margin-top: 15px;
  font-weight: bold;
}

.action p {
  margin-bottom: 45px;
  width: 520px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-left: 19px;
  margin-top: -13px;
}

.razz-left {
  background-image: url("../img/bg-crimson-baner.jpg");
  background-color: #af1944;
  margin-right: 13px;
  margin-left: -1px;
  width: 560px;
}

.chocolate {
  background-image: url("../img/bg-chocolate-baner.jpg");
  background-color: #623013;
  float: right;
  margin-left: 13px;
}

                    /*Стилизация блока с мороженым основная страница*/
.ice-cream-bottom {
  margin-bottom: 43px;
}

.ice-cream-gal {
  display: inline-block;
  padding-left: 3px;
  font-size: 0;
  margin-bottom: 42px;
}

.ice-cream {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding: 0;
  width: 267px;
  vertical-align: top;
  margin-right: 25px;
  text-align: center;
  color: #fff;
  position: relative;
  line-height: 0px;
  padding-bottom: 20px;
}

.ice-cream:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: url(../img/hit.png);
}

.no-hit:before {
  display: none;
}

.ice-cream img {
  width: 267px;
  height: 267px;
}

.ice-cream a {
  top: 12px;
  position: relative;
  z-index: 1500;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}


.ice-cream:nth-child(4n) {
  margin-right: 0;
}

.ice-cream img {
  border-radius: 50%;
}

.price-ice {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  top:207px;
  left: 1px;
}

.price-ice span {
  font-size: 30px;
  line-height: 45px;
}
                    /*Hover для блока с мороженым(бвстрый просмотр)*/
.ice-cream:hover .hover-ice {
  display: block;
}

.hover-ice {
  z-index: 222;
  width: 278px;
  height: 405px;
  position: absolute;
  top: -5px;;
  left: -5px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  display: none;
}

.fast-see {
  margin-top: 325px;
  display: inline-block;
  width: 200px;
  height: 36px;
  padding-top: 9px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 50px;
}
                    /*Раздел "Преимущества"*/
.better {
  background-image: url("../img/bg-better.png");
  background-color: #e9dcbf;
  border-radius: 15px;
  padding-left: 21px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 40px;
  margin-top: -42px;
  max-height: 500px;
  overflow: hidden;
}

.better h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: -5px;
}

.better p {
  font-size: 16px;
  line-height: 22px;
}

.better .left {
  float: left;
  width: 538px;
}

.left p,
.right p {
  padding-left: 55px;
}

.plus-1 {
  margin-top: 12px;
  background-image: url("../img/ice-better.svg");
  background-repeat: no-repeat;
  background-position: 0% 12%;
  padding-top: 15px;
  margin-bottom: -12px;
}

.plus-2 {
  background-image: url(../img/better-sheet.svg);
  background-position: 0% 12%;
  background-repeat: no-repeat;
  padding-top: 18px;
}

.better .right {
  float: right;
  width: 538px;
  margin-right: 20px;
}

.plus-3 {
  background-image: url("../img/better-cow.svg");
  background-repeat: no-repeat;
  padding-top: 11px;
  margin-bottom: -9px;
}

.plus-4 {
  background-image: url("../img/better-thermo.svg");
  background-repeat: no-repeat;
  padding-top: 16px;
  background-position: 0% 5%;
}

.better::after {
  content: "";
  display: table;
  clear: both;
}
                    /*Раздел "Новое в нашем блоке*/
.new-blog {
  display: inline-block;
  background-image: url("../img/new-in-blog.jpg");
  background-color: #fff;
  height: 220px;
  width: 560px;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  margin-bottom: 40px;
  vertical-align: top;
  margin-right: 22px;
}

.new-blog h3 {
  color: #000;
  margin-left: 19px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 6px;
  margin-bottom: 4px;
}

.new-blog a {
  color: #353535;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  width: 299px;
  margin-left: 18px;
}

.new-blog a:hover {
  color: #e84d37;
}

.subscribe {
  position: relative;
  background-image: url("../img/subscribe-bg.png");
  background-color: #fff;
  background-position: 1% 10%;
  display: inline-block;
  height: 220px;
  width: 560px;
  border-radius: 20px;
  margin-bottom: 40px;
  vertical-align: top;
}

.sub-bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 549px;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 20px;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  padding-left: 22px;
  padding-right: 20px;
  margin-bottom: 37px;
}

.subscribe input[type="email"] {
  color: #999;
  width: 366px;
  height: 44px;
  margin: 0;
  padding: 0;
  border: solid 1px rgba(178,178,178,0.52);
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-left: 22px;
  padding: 9px 7px 9px 13px;
  margin-right: 8px;
  outline: none;
  box-sizing: border-box;
}

input[type="submit"] {
  border-style: none;
  font-size: 18px;
  line-height: 24px;
  font-weight:bold;
  color: #fff;
  padding: 10px 20px 10px 18px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

                    /*СТИЛИЗУЕМ форму подписки*/
.sub-news {
  display: inline-block;
  position: relative;
  margin-right: 0px;
}

.sub-news > label {
  position: absolute;
  width: 150px;
  color: #999999;
  top: 10px;
  left: 29px;
  transition: 0.5s;
}

.sub-news:hover input {
  border: 2px solid #c7c6c5;
}

input:focus + label {
  top: -18px;
  left: 22px;
  color: #8fbdec;
  font-size: 11px;
  line-height: 13px;
}

.sub-news input:focus{
  outline: 2px solid #8fbdec;
}

 .sub-news input:valid + label {
 color: #999;
}
                    /*Раздел "Карта"*/
.map {
  background-image: url("../img/map.jpg");
  height: 429px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.yandex {
  width: 100%;
  position: absolute;
  top: 1884px;
  height: 429px;
}

.central-container {
  position: relative;
}

.map-info {
  z-index: 5;
  position: absolute;
  top: 62px;
  right: 27px;
  width: 277px;
  height: 272px;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 25px;
  padding-top: 28px;
}

.map-info a {
  display: block;
  width: 175px;
  padding-top: 4px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-bottom: 3px;
}

.map-info span {
  display: block;
  width: 177px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin-bottom: 1px;
}

.map-info p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 18px;
  margin-top: 2px;
}

.map-info .feedback {
  display: block;
  width: 226px;
  border-radius: 50px;
  border-style: none;
  color: #fff;
  background-color: #e94f38;
  margin-top: 25px;
  padding-left: 26px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  cursor: pointer;
}
                    /*Футер*/
.gl-footer {
  margin: 0;
  padding-bottom: 10px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 22px;
}
.footer-catalog {
  border-top: 1px solid rgba(255,255,255,0.3);
  margin-top: 60px;
  padding-top: 17px;
}
.gl-footer::after {
  content: "";
  display: table;
  clear: both;
}
.social-icon {
  float:left;
  margin-top: 10px;
  padding-top: 6px;
}
.social-icon:first-child {
  margin-left: 0px;
}
.icon:last-child {
  margin-right: 0;
}
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
}
.tw,
.inst,
.fb,
.vk {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tw {
  background-image: url(../img/twitter.svg);
}
.inst {
  background-image: url("../img/instagram.svg");
}
.fb {
  background-image: url("../img/facebook.svg");
}
.vk {
  background-image: url("../img/vkontakte.svg");
}
.vk:hover {
  background-image: url("../img/vk-hover.svg");
}
.tw:hover {
  background-image: url("../img/twitter-hover.svg");
}
.inst:hover {
  background-image: url("../img/insta-hover.svg");
}
.fb:hover {
  background-image: url("../img/fb-hover.svg");
}
.tw:active,
.inst:active,
.fb:active,
.vk:active {
  opacity: 0.8;
  background: -moz-linear-gradient(bottom, #e9e9e9 0%, #c7c7c7 100%;);
  background: -webkit-linear-gradient(bottom, #e9e9e9 0%, #c7c7c7 100%;);
  background: linear-gradient(to top, #e9e9e9 0%, #c7c7c7 100%;);
  box-shadow: inset 0px 2px 1px rgba(136,136,136,1);
}
.materials {
  float: left;
  margin-top: 11px;
  margin-left: 213px;
  margin-right: 200px;
  margin-bottom: 35px;
  width: 350px;
}
.materials a {
  display: inline;
  padding: 2px;
  padding-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.mat-left {
  float: left;
  margin-right: 22px;
  padding-left: 20px;
  background-image: url("../img/love.svg");
  background-repeat: no-repeat;
  background-position: 1px 6px;
  width: 120px;
}
.mat-left .love {
  font-weight: bold;
  margin-bottom: -1px;
}
.mat-right {
  float: left;
  width: 170px;
}
.logo-academy {
  float: right;
  width: 189px;
  color: #fff;
}
.logo-academy img {
  margin-bottom: -16px;
}
.logo-academy p{
  font-size: 12px;
  line-height: 18px;

}
p a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

                    /*Стили для каталога Gllacy*/
.lm {
  margin-left: 27px;
}

.rm {
  margin-right: 27px;
}
                    /*Стилизуем хлебную крошку*/
.inner-page {
  display: inline-block;
  margin-top: -25px;
  margin-bottom: 20px;
}

.breadcrums {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrums li {
  position: relative;
  display: inline-block;
  margin-right: 17px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrums a,
.materials a,
.ice-cream a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.breadcrums a:hover,
.materials a:hover,
.ice-cream a:hover,
.logo-academy a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255,188,158,0.2);
}

.breadcrums .current {
  color: #fff;
}

.breadcrums li::after{
  content: "»";
  position: absolute;
  color: #fff;
  right: -15px;
}

.breadcrums .current::after {
  display: none;
}
.inner-page h1 {
  display: inline-block;
  margin: 0;
  padding-top: 1px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #fff;
}
                    /*Стилизуем сортировку*/
.sort-line {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin: 0;
  padding: 0;
}

.ice-filter {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 4px;
}
.sorting {
  width: 198px;
  margin-right: 6px;
  padding-top: 4px;
}

.select-top {
  margin-top: 4px;
  width: 192px;
  height: 36px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 50px;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 171px 16px;
  overflow: hidden;
}

.select-top:hover {
  background-color: #fff;
  background-image: url("../img/select-arrow-hover.svg");
}

.select-top select:hover {

  color: #000;
}

.select-top select {
  margin-left: 10px;
  width: 211px;
  height: 36px;
  border-style: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  cursor: pointer;
}
                    /*Стилизуем фильт цены*/
.filer-price {
  margin-top: -7px;
  width: 220px;
  color: #fff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  height: 30px;
  cursor: pointer;
}
.price-controls {
  position: relative;
  font-size: 0;
  margin-left: 15px;

}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 49%;
  width: 7px;
  height: 2px;
  background-color: #fff;
}

.price-controls .min-price {
  width: 98px;
  margin-right: 9px;
}

.price-controls .max-price {
  width: 60px;
}

.price-controls input {
  width: 26px;
  margin: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0 1px;
}

.range-controls {
  position: relative;
  height: 36px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 50px;
}

.range-controls .scale {
  position: absolute;
  top: 15px;
  left:15px;
  width: 188px;
  height: 4px;
  background-color: rgba(255,255,255,0.5);
}

.range-controls .bar {
  height: 4px;
  width: 98px;
  background-color: #f8f7f4;
  margin-left: 29px;
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border: 9px solid #f8f7f4;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  right: 67px;
}


                    /*Стилизуем жирность*/
.fat-content {
  width: 415px;
  padding-top: 3px;
  padding-left: 10px;
}

.fat-scale {
  margin-top: 4px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 21px;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.2);
}

.fat-scale > label,
.fillers-list label {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  line-height: 15px;
  margin-left: 25px;
  margin-right: 20px;
  position: relative;

}

.fat-scale label:last-child,
.fillers-list label:last-child {
  margin-right: 0;
}

.fat-scale input[type="radio"] {
  display: none;
}

.fat-scale label:before{
  content:"";
  position: absolute;
  top: 0;
  left: -30px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.fat-scale label:hover:before {
  border: 2px solid #ffffff;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.fat-scale input[type="radio"]:disabled + label:before {
  top: 0;
  left: -30px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
}
                    /*Стилизуем наполнители на выбор*/
.fillers {
  width: 702px;
  margin-right: 11px;
  margin-top:11px;
}

.fillers-list {
  margin-top: 3px;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.2);
  padding: 0 15px;
  height: 36px;
}

.fillers-list label {
  display: inline-block;
  margin-top: 7px;
  margin-right: 7px;
  padding-top: 2px;
  padding-right: 12px;
  padding-left: 7px;
  height: 22px;
  color: #fff;
  vertical-align: top;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  cursor: pointer;
}

.fillers-list label:last-child {
  padding-right: 0;
}

.fillers-list input[type="checkbox"] {
  display: none;
}

 .fillers-list label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
}

.fillers-list input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -21px;
  display: block;
  width: 10px;
  height: 5px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -moz-transform: rotate(-45deg); /* Для Firefox */
  -ms-transform: rotate(-45deg); /* Для IE */
  -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-45deg); /* Для Opera */
  transform: rotate(-45deg);
}

.fillers-list label:hover:before {
  border: 2px solid #ffffff;
}

.fillers-list input[type="checkbox"]:disabled + label:before {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
                    /*Кнопка отправки сортировки*/
.apply {
  margin-top: 36px;
  width: 145px;
}
.apply input[type="submit"] {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  padding: 8px 27px;
  font-weight: normal;
  background:transparent;
  border: 2px solid #fff;
  outline: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.2);
}

.apply input[type="submit"]:hover {
  background-color: #fbfcfb;
  color: #353535;
  border: none;
  padding: 10px 29px;
}

.apply input[type="submit"]:active {
  background-color: #eaeaea;
  border: none;
  padding: 10px 29px;
  box-shadow: inset 0px 2px 1px #696969;
}

.filter::after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 40px;
}

                    /*Стилизуем пагинацию*/
.pagination {
  padding-top: 3px;
  float: right;
  vertical-align: top;
  margin-right: 31px;
}
/*
.pagination::after{
  content: "";
  background-image: url(../img/arrow-right.png);
  width: 8px;
  height: 14px;
  display:inline-block;
}

.pagination::before{
  content: "";
  background-image: url(../img/arrow-right.png);
  width: 8px;
  height: 14px;
  display:inline-block;
  transform: rotate(180deg);
}
*/

.pagination .active {
  background-color: #fff;
  color: #000;
  margin-left: 5px;
}

.pagination a {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}

.pagination a:last-child {
  margin-right: -10px;
}

.pagination a:hover {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

.pagination a:active {
  color: #000;
  background-color: #fff;
}

.go-right {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.go-left {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.pagination .go-left:hover,
.pagination .go-right:hover {
  background-color: #849d8f;
}


                    /*Модальное окно*/


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: inherit;
}

.modal-feedback {
  width: 477px;
  position: absolute;
  z-index: 2050;
  top: 26.3%;
  left: 30.3%;
  display: none;
  }

  .form-feedback {
  width: 453px;
  position: fixed;
  top: 340px;
  left: 50%;
  z-index: 2150;
  padding: 0;
  margin-left: -237px;
  background-color: #f8f7f4;
  padding-left: 24px;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.35);
}

.modal-feedback-show {
  display: block;
}

.close-modal {
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
  background-image: url("../img/delete-modal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  margin-right: 13px;
  margin-top: 12px;
  outline: none;
  cursor: pointer;
}

.modal-feedback-show {
  display: block;
}


.modal-feedback h2 {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 16px;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"] {
  font-family: "Roboto", "Arial", sans-sertif;
  width: 265px;
  height: 44px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(178,178,178,0.52);
  padding: 15px 14px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
  box-sizing: border-box;
}

textarea {
  display: inline-block;
  padding: 0;
  padding-left: 13px;
  padding-top: 13PX;
  margin: 0;
  margin-bottom: 19px;
  border: 1px solid rgba(178,178,178,0.52);
  color: #999999;
  width: 413px;
  height: 141px;
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.modal-feedback::after {
  content: "";
  display: table;
  clear: both;
}

.modal-feedback input[type="submit"] {
  float: right;
  margin-right: 24px;
  padding: 10px 24px 10px 23px;
  margin-bottom: 27px;
}

                    /*Стилизуем поля формы*/
.modal-name {
  margin-top: -9px;
}

.modal-name,
.modal-email {
  position: relative;
  width: 240px;
}

.modal-name > label {
  position: absolute;
  left: 14px;
  top: 17px;
  transition: 0.5s;
  color: #999999;
  font-size: 16px;
  line-height: 24ox;
}

.modal-email > label {
  position: absolute;
  left: 15px;
  top: 10px;
  transition: 0.5s;
  color: #999999;
  font-size: 16px;
  line-height: 24ox;
}

.modal-name:hover input,
.modal-email:hover input {
  border: 2px solid #c7c6c5;
}

.modal-name input:focus + label{
  top: -7px;
  left: 2px;
  color: #8fbdec;
  font-size: 11px;
  line-height: 13px;
}

.modal-email input:focus + label {
  top: -15px;
  left: 2px;
  color: #8fbdec;
  font-size: 11px;
  line-height: 13px;
}

.modal-name input:valid + label {
 color: #999;
}
