body{
  font-family: sans-serif;/*семейство шрифтов*/
  font-size: 16px;/*размер шрифта*/
  line-height: 1.5; /*высота строки*/
  color:#652614; /*цвет текста*/
  font-weight: normal;/*жирность шрифта*/
  padding: 0;
  background-color: rgba(144, 166, 154, 0.8);
}
.central-container{
  width: 1200px;
  margin: 0 auto;
}
